.centeredForm {
  /* background-color: red; */
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statisticsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}

.right {
  flex-direction: row;
  background-color: red;
}

.left div,
.right div {
  margin-right: 20px;
  margin-top: 10px;
}
