.flex {
    background-color: green; 
    display: flex;
    flex-direction: row;

}

.left {
    background-color: red; 
    height: 94.9vh;
    width: 100%;
    flex: 1;
}

.right {
    background-color: blue; 
    height: 94.9vh;
    width: 100%;
    flex: 3;
}