.categories {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}

.column {
    background-color: red;
    display: flex;
    flex-direction: column;
    
}

.categories {
    background-color: green; 
}