.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    top: 10px; 
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
